# ----------------------------------------------------
# Forensiq Global Configurations (Template)
# Rename this file to .env and adjust variables
# ----------------------------------------------------

# Environment
NODE_ENV=development
APP_ENV=development

# Database Setup
POSTGRES_DB=forensiq
POSTGRES_USER=postgres
POSTGRES_PASSWORD=supersecuredbpass123
POSTGRES_PORT=5432
POSTGRES_HOST=postgres
# SQLAlchemy connection strings
DATABASE_URL=postgresql+asyncpg://postgres:supersecuredbpass123@postgres:5432/forensiq

# Caching & Task Queues (Redis)
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379/0

# Security (JWT & Cryptography)
# Generate a secret: openssl rand -hex 32
JWT_SECRET=8f3db47f9c8f041b3e8ad6b71f98d023b092f6b8b0fae090f7a08b981f9640ab
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
ENCRYPTION_MASTER_KEY=your-aes-256-encryption-master-key-here

# Third-party Threat Intel APIs
VIRUSTOTAL_API_KEY=your_virustotal_api_key_here
ABUSEIPDB_API_KEY=your_abuseipdb_api_key_here
ALIENVAULT_OTX_API_KEY=your_alienvault_otx_api_key_here

# AI Agent Service Configs
LLM_PROVIDER=openai # openai | gemini | ollama
LLM_MODEL=gpt-4o-mini # gpt-4o-mini | gemini-1.5-pro | llama3
OPENAI_API_KEY=your_openai_api_key_here
GEMINI_API_KEY=your_gemini_api_key_here
OLLAMA_BASE_URL=http://host.docker.internal:11434

# Nginx External Ports
NGINX_PORT=80
NGINX_SSL_PORT=443
